<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/category.css">
    <link rel="stylesheet" href="css/categoryList.css">
    <title>Category</title>
</head>
<body>
    <header><h1>TOP</h1></header>
    <div class="grid">
        <div class="row admin__content">
            <div class="col xl-3 admin__content-left">
                <ul>
                    <li><a href="#">Danh muc</a>
                        <ul>
                            <li><a href="#">Them danh muc</a></li>
                            <li><a href="#">Danh sach danh muc</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Loai san pham</a>
                        <ul>
                            <li><a href="#">Them loai san pham</a></li>
                            <li><a href="#">Danh sach loai san pham</a></li>
                        </ul>
                    </li>
                    <li><a href="#">San pham</a>
                        <ul>
                            <li><a href="#">Them san pham</a></li>
                            <li><a href="#">Danh sach san pham</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="col xl-9 admin__content-right-list">
                <h1>Danh sach danh muc</h1>
                <table>
                    <tr>
                        <th>STT</th>
                        <th>ID</th>
                        <th>Danh Muc</th>
                        <th>Tuy bien</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>1</td>
                        <td>Nam</td>
                        <td><a href="">Sửa</a><a href="">Xóa</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>